<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>BP :: Project</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
	<link rel="stylesheet" type="text/css" href="assets/bootstrap.css">
	<link rel="stlyesheet" type="text/css" href="assets/bootstrap-adtetimepicker.css">
	<link rel="stlyesheet" type="text/css" href="assets/jquery.datetimepicker.css">
	<link rel="stylesheet" type="text/css" href="assets/datepicker3.css">
	<script src="bootstrap.js"></script>
	<script src="jquery.js"></script>
	<script src="jquery.datetimepicker.js"></script>
</head>
<body>

<%= render :partial => "layouts/header" %>

<%= yield %>

</body>
</html>
